<div class="app-card-container">
	<div class="card">
		<hr>
			<h1 class="aboutme">About Me</h1>

		<hr> 

		<div class="row">
			<div class="col-md-4">
				<%= image_tag "fishing.jpg", width: 300, alt: "Profile Picture", class: 'profile-img' %>
			</div>
			
			<div class="col-md-8">
				<p>Technology has been a center of my life for as long as I can remember. I’ve always loved to fix and build things, from computers to cars. So following my dream to become a software developer makes perfect sense. After years of hard work and business operations, I have committed to following my passion for writing code. Developing gives me a sense of gratification that I’ve never been able to find anywhere else, professionally.</p>
				
				<p>I also love being a unique type of nerd. I have always been into sports and fitness, but after football practice, my favorite thing to do was to get into comfortable clothes, and watch Lord of the Rings, or read Harry Potter.</p>

				<p>Take every opportunity that I have, and overachieve. I want to succeed in every professional field that I am involved
				in.
				</p>
				<p>
					<button class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#jobHistory"
					aria-expanded="false"
					aria-controler="jobHistory"
					>Job History
					</button>

					<button class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#education"
					aria-expanded="false"
					aria-controler="education"
					>Education
					</button>

					<button class="btn btn-primary"
					type="button"
					data-toggle="collapse"
					data-target="#personalInterests"
					aria-expanded="false"
					aria-controler="personalInterests"
					>Personal Interests
					</button>
				</p>

				<p>
					<div class="collapse" id="jobHistory">
						<div class="card card-block">
							<div class="row">
								<div class="col-md-3">
									<%= image_tag 'miaq.png', width: '100%' %>
								</div>
								<div class="col-md-9">
									<h4>Marketing Director        </h4>2015-2017 
									<p>- My Indoor Air Quality - Digital Marketing Director for multi-million dollar sales company. Increased profits 	by 25% in less than a year by increasing digital presence. Handled schedules for over 50 company salesmen.</p> 
								</div>
							</div>
						</div>

						<div class="card card-block">
						<div class="row">
								<div class="col-md-3">
									<%= image_tag 'ftu.jpg', width: '100%' %>
								</div>
								<div class="col-md-9">
									<h4>Business Owner/Operator        </h4>2015-2016 
									<p>- Food Truck Underground - COO for food truck logistics business. Handled operations for over 100 food trucks over the whole state of Utah, including over 75 events every single day.</p> 
								</div>
							</div>
						</div>

						<div class="card card-block">
						<div class="row">
								<div class="col-md-3">
									<%= image_tag 'pyro.png', width: '100%' %>
								</div>
								<div class="col-md-9">
									<h4>Food Truck Manager/Operator        </h4>2014-2015 
									<p>- Pyromaniac Pizza - Ran pizza food truck over two different counties. Managed and scheduled 20 employees on a daily basis. Food handling permit, along with food preparation permit.</p> 
								</div>
							</div>
						</div>
					</div>

					<div class="collapse" id="education">
						<div class="card card-block">
						<div class="row">
								<div class="col-md-3">
									<%= image_tag 'bottega.jpg', width: '100%' %>
								</div>
								<div class="col-md-9">
									<h4>Bottega        </h4>2017 
		     					<p>- Advanced courses involving Ruby | Rails | UI/UX design | Typescript</p>
     						</div>
     					</div>
						</div>
						<div class="card card-block">
						<div class="row">
								<div class="col-md-3">
									<%= image_tag 'usu.jpg', width: '100%' %>
								</div>
								<div class="col-md-9">
									<h4>Utah State University        </h4>2013-2015
									<p>- Majoring in Business Management and Computer Science</p>
								</div>
							</div>
						</div>
					</div>

					<div class="collapse" id="personalInterests">
						<div class="card card-block">
							<div class="row">
								<h5>Sports | Music/singing | Hiking | Canyoneering | Outdoors | Fishing | Crazy Socks | Dogs | Ping Pong | Movies | Food</h5>
							</div>
						</div>
					</div>
				</p>


			</div>
		</div>
	</div>
</div>




