<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6 card blackish">
  <br><br>
    <h3>Links to Jared's Sites:</h3>

    <br>
    <h5><%= link_to "LinkedIn", "https://www.linkedin.com/in/jared-romney-749116108/", class: 'sitelink', :target => "_blank" %> | <%= link_to "GitHub", "https://github.com/JaredJamesRomney", class: 'sitelink', :target => "_blank" %> | <%= link_to "Facebook", "https://www.facebook.com/jared.romney.56", class: 'sitelink', :target => "_blank" %> | <%= link_to "Instagram", "https://www.instagram.com/jaredjamesromney/", class: 'sitelink', :target => "_blank" %></h5>

    <br>
    <h3>Home Address</h3>

    <p>11487 S. Brentridge Cir, South Jordan UT 84095</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8018916686" %></p>

    <h3>Email</h3>

    <p><a class='blackish' href="mailto:jaredjamesromney@gmail.com?subject=PortfolioContact"email me">Email me</a> </p>

  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.961937675014!2d-111.92784784888168!3d40.54243005580726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752865d28ee2003%3A0xc374b3301c567744!2s11487+Brentridge+Cir%2C+South+Jordan%2C+UT+84095!5e0!3m2!1sen!2sus!4v1498076259804" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>

